#Vaibhav{
    color: red;
    padding: 40px;
    background-color: rgb(180, 12, 12);
    text-align: center;
    
}
#Survase{
    color: rgb(94, 255, 0);
    padding: 40px;
    background-color: rgb(12, 180, 76);
    text-align: center;
}